{% extends 'base.html' %}

{% block content %}

	<div class="grid-container">
		{% for candidate in candidates %}
			<div class="card">
				<div class="bg-img"></div>
				<div class="content">
				  <h4 style="color: #032040">{{ candidate.name | capfirst }}</h4>
				  <h5 style="color: #032040">{{ candidate.email | capfirst }}</h5>
				  <div>
				  	<span class="questions">
				  		<ul>
					  		{% for question in questions %}
					  			<li>
									<!-- {{ question.text }} -->
									<a target="_" href="{% url 'profile' candidate.id question.id %}">{{ question.text }}</a>
									<!-- <a class="button" target="_" href="{% url 'profile' candidate.id question.id %}">Profile</a> -->
								</li><br>
							{% endfor %}
						</ul>
				  	</span>
				  </div>
				</div>
			</div>

		{% endfor %}
		<!-- <div class="card">...</div> -->
		<!-- <div class="card">...</div> -->
		<!-- <div class="card">...</div> -->
	</div>

{% endblock content %}